<div class="card m-1" style="width: 18rem;">
    <div class="card-header">
        <a href="@Href"><img src="@ImageSource" class="card-img-top" alt="@Description" style="max-width: 256px; min-height: 64px; max-height: 64px; object-fit: contain;" /></a>
    </div>
    <div class="card-body">
        <h3 class="card-title"><strong>@Title</strong></h3>
        <hr />
        <p class="card-text">@Description</p>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-end">
            <a href="@Href" class="btn btn-primary stretched-link">learn more</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? ImageSource { get; set; }
    [Parameter]
    public string? Href { get; set; }
}
